alembic>=1.0.7
celery>=4.2.1
falcon==1.4.*
gunicorn>=19.9.0
psycopg2>=2.7.7
PyJWT>=1.7.1
pytest>=4.3.0
python-dotenv>=0.10.1
python-whois>=0.7.1
redis>=3.2.0
SQLAlchemy-Utils>=0.33.11
SQLAlchemy>=1.2.18
